name: CI
on:  
  pull_request:    
    branches:
    - main  
  push:
    branches:
    - main
jobs:  
  build:     
   runs-on: ubuntu-latest
   
   steps:    
   - uses: actions/checkout@v1
   - name: Build and test with Docker
     run: |
       docker build --tag openmc_docker .
       docker run --rm openmc_docker pytest tests
 